

/* css para btrap  */
.form-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.form-group label{
  width: 40%;
}

.form-group input{
  width: 60%;
}

@media screen and (max-width: 480px) {

  .form-group{
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group label,
  .form-group input{
    width: 100%;
  }

  .form-group label{
    margin-bottom: 5px;
  }

}